<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="CircleProgressBar" version="1.0.1" targetFramework="net461" />
  <package id="Newtonsoft.Json" version="11.0.2" targetFramework="net461" />
  <package id="Xamarin.Cognitive.Face" version="0.5.2" targetFramework="net461" />
  <package id="Xamarin.Forms" version="3.0.0.561731" targetFramework="net461" />
  <package id="Xamarin.Forms.Maps" version="3.0.0.561731" targetFramework="net461" />
</packages>